@import url('https://fonts.googleapis.com/css2?family=Shrikhand&family=Outfit:wght@300;400;600;800;900&family=JetBrains+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Outfit", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Shrikhand", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  --color-retro-bg: #222026;
  --color-retro-surface: #2c2a31;
  --color-retro-text: #EFE4D0;
  
  --color-retro-brown: #865545;
  --color-retro-orange: #DE6D38;
  --color-retro-red: #CD4E56;
  --color-retro-teal: #3F9494;
}